/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

$blue: #2196f3;
$blue-dark: #049ade;
$orange: #ffc20e;
$green: #a2ca28;
$pink: #ff2d55;
$purple: #a92ee1;
$cyan: #27bfbf;
$dark-gray: #212121;
$yellow: #fac10d;

$break-medium: 500px;

@font-face {
    font-family: 'hero_light';
    src: url('../fonts/hero_light-webfont.eot');
    src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero_light-webfont.woff2') format('woff2'),
         url('../fonts/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, .md body {
    font-family: 'latoregular', Arial, sans-serif;
}

.page-content {
    background-color: #f5f5f5;
}

small {
    color: #989898;
    font-size: 12px;
}

.statusbar-overlay {
    background: #000000;
}

#logo-splash {
	  max-width: 150px;
    margin: 45px auto 5px;
    display: block;
    width: 100%;
}

.login-screen-content {
    background-color: $blue;
    .login-screen-title {
        margin: 30px auto;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.1;
        font-size: 24px;
        font-weight: 300;
        font-family: 'hero_light';
    }
}

.md .progressbar, 
.md .progressbar-infinite {
    top: 200px;
    height: 12px;
    width: 90%;
    margin: 0 auto;
    display: block;
    display: none;
}

.progressbar.bg-lightblue, 
.progressbar.color-lightblue, 
.progressbar.theme-lightblue, 
.theme-lightblue .progressbar {
    background-color: rgba(255,255,255,.2);
}

.progressbar.bg-lightblue span, 
.progressbar.color-lightblue span, 
.progressbar.theme-lightblue span, 
.theme-lightblue .progressbar span {
    background-color: rgba(255,255,255,.4);
}

.text-center {
	text-align: center;
}

small {
	color: #ccc;
	font-size: 10px;
}

$spacer: 60px;
.spacer {
    height: $spacer;
    &.xsmall {
        height: $spacer / 4;
    }
    &.small {
        height: $spacer / 2;
    }
    &.large {
        height: $spacer * 2;
    }
}

img.responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.landscape-wrapper {
    overflow: hidden;
    max-height: 90px;
    position: relative;
    img {
        display: block;
        position: relative;
        top: -50px;
    }
}

.navbar {
    &.nav-trans {
        background-color: transparent;
        position: absolute;
        .right:first-child {
            right: 0px !important;
        }
        &:after, &:before {
            background: transparent !important;
        }
    }
}

.darken {
    display: block;
    background-color: #000;
    padding: 0;
    &.blue {
        background-color: #008fd7;
    }
    &.orange {
        background-color: #ffc20e;
    }
    &.green {
        background-color: #a2ca28;
    }
    img {
        display: block;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        opacity: .7;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'latoregular', Arial;
    font-weight: 300;
}

h1 {
    //font-family: 'hero_light', Arial;
    text-transform: uppercase;
}

h2 {
    margin: 0 0 7.5px;
    font-weight: 700;
    &.sub {
        font-family: 'hero_light', Arial;
    }
}

h3 {
    font-weight: 700;
    &.sub {
        font-family: 'hero_light', Arial;
    }
}

.with-space {
    padding: 15px;
}

.md .card {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.02), 0 1px 2px rgba(0,0,0,.14);
    box-shadow: 0 1px 3px rgba(0,0,0,.02), 0 1px 2px rgba(0,0,0,.14);
}

.button-links {
    padding: 3px;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    .card {
        margin: 4px;
    }
    .button {
        height: 115px;
        padding: 0;
        text-transform: none;
        font-size: 11px;
        line-height: 1.2;   
        font-weight: 300;
        border: 0;
        border-radius: 0;
        color: #7e8e9a !important;
        .material-icons {
            margin: 15px auto 0;
            font-size: 38px;
            color: #2196f3 !important;
        }
        p {
            font-size: 14px;
        }
    }
    .text-color-blue {
        color: $blue;
    }
    .text-color-green {
        color: $green;
    }
    .text-color-orange {
        color: $orange;
    }
    .text-color-pink {
        color: $pink;
    }
    .text-color-purple {
        color: $purple;
    }
    .text-color-cyan {
        color: $cyan;
    }
}  

.page-home {
    .islands {
        margin: 15px auto;
        .img-wrapper {
            max-height: 14  2px;
            overflow: hidden;
            @media screen and (min-width: $break-medium) {
                max-height: 260px;
            }
        }
        & > .card-content {
            padding: 15px 5px 5px;
            .card-content {
                padding: 5px;
            }
        }
        img.responsive {
            width: 100%;
            margin: 0 auto;
        }
        .swiper-wrapper {
            padding-bottom: 35px;
        }
        h3 {
            margin: 5px auto 2px;
        }
        
        &.style-2 {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .img-wrapper {
                height: 190px;
                overflow: hidden;
                background-size: cover;
                background-repeat: none;
                img {
                    display: none;
                }
            }

            .button {
                border-radius: 0;
                background-color: #fff;
                color: #333;
                text-transform: none;
                font-weight: 700;
                font-size: 16px;
                margin-top: 7px;
                .material-icons {
                    padding: 0px;
                    position: absolute;
                    right: 3px;
                    font-size: 26px;
                    background-color: #2196f3;
                    color: #fff;
                    margin-top: 5px;
                    border-radius: 50px;
                }
            }
        }
    }
}

#near-attractions-wrapper,
#near-accommodations-wrapper,
#near-dining-wrapper,
.islands.style-2 {
    .swiper-slide {
        width: 87%;
    }
    
    .img-wrapper {
        height: 190px;
        overflow: hidden;
        background-size: cover;
        background-repeat: none;
        img {
            display: none;
        }
    }

    .button {
        border-radius: 0;
        background-color: #fff;
        color: #333;
        text-transform: none;
        font-weight: 700;
        font-size: 16px;
        margin-top: 7px;
        .material-icons {
            padding: 0px;
            position: absolute;
            right: 3px;
            font-size: 26px;
            background-color: #2196f3;
            color: #fff;
            margin-top: 5px;
            border-radius: 50px;
        }
    }
}

.islands.style-2 {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#near-attractions-wrapper,
#near-accommodations-wrapper,
#near-dining-wrapper {
    .nearest {
        margin-left: -15px;
        margin-right: -15px;
    }
    .button {
        margin-top: 4px;
        .material-icons {
            margin-top: -4px;
            right: 7px;
        }
    }
}

#content {
    margin-top: 15px;
}

#location {
    color: #999;
}

.banner-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 240px;

    &.small {
        max-height: 230px;
    }

    img.responsive {
        height: 260px;
        width: 100%;
        @media screen and (min-width: $break-medium) {
            height: auto;
            width: 100%;
        }
        &.landscape {
            height: auto;
            width: 100%;            
        }
    }

    .banner-inner {
        position: absolute;
        top: 30px;
        display: block;
        left: 0px;
        text-align: center;
        right: 0px;
        font-weight: 700;
        z-index: 1;
        h1 {
            color: #fff;
            margin: 30px 0 0;
            font-size: 32px;
        }
        h3 {
            color: #fff;
            margin: 0;
        }
    }

    .button {        
        border-radius: 50px;
        display: inline-block;
        padding: 0px 30px;
        color: #fff;
        font-weight: 300;
        height: auto;
        letter-spacing: 1.4px;
        margin-top: 15px;
    }
}

.map-canvas-header {
    height: 260px;
}

.page-romblon {
    .label-photo {
        font-size: 12px;
        line-height: 1.2;
    }
    .tabbar {
        top: -1px !important;
    }
}

.main-tab {
    background-color: $blue;
    .tab-link {
        color: #fff !important;
        text-transform: none;
        &.active {
            background-color: $blue-dark;
        }
    }
    .button {
        margin-left: 0;
    }
}

.accordion-item-opened > .accordion-item-content {
    padding-bottom: 30px;
}

.accordion-list .accordion-item {
    border-bottom: 1px solid #eee;

    &:last-child {
        border-bottom: 0;
    }

    ol {
        padding-left: 15px;
    }
}

ol.numbered-small li {
    font-size: 12px;
    margin-bottom: 6px;
}

.md .data-table tbody td {
    border-top: 1px solid #eee;
}

.side-panel {
    .side-logo {
        width: 90px;
        margin: 0 auto;
        display: block;
    }
    h3 {
        margin-top: 0;
        text-transform: uppercase;
    }
    .menu-links ul {
        list-style: none;
        padding: 5px 15px;
        border-top: 1px solid #f7f7f7;
        margin: 0;
        li {
            a {
                display: block;
                padding: 9px 7px;
                color: $dark-gray;
            }
        }
        .material-icons {
            color: $blue;
            position: relative;
            top: 5px;
            padding-right: 16px;
        }
    }
}

.md .tabbar a.link, 
.md .tabbar a.tab-link, 
.md .tabbar-labels a.link, 
.md .tabbar-labels a.tab-link {
    text-transform: none;
}

.md .page-content .searchbar {
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    .material-icons {
        position: absolute;
        top: 7px;
        padding: 7px;
    }
}

.hidden {
    display: none;
}

.top-bar {
    position: relative;
    min-height:36px;
    .sort-by {
        position: absolute;
        top: 10px;
        right: 8px;
        .button {
            width: 26px;
            min-width: 10px;
            border-radius: 7px;
            font-size: 20px;
            color: #999;
        }
    }
}

.searchbar-hide-on-search {
    padding: 15px 7px 0; 
}
.searchbar-result {
    margin-top: 15px !important;
    .item-content {
        min-height: 48px;
        padding-left: 0 !important;
    }
    .card {
        width: 100%;
        margin: 3px 6px;
        .card-content {
            padding: 6px;
        }
        .loader {
            margin-left: -6px;
            margin-right: -6px !important;
            margin-top: -6px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../images/loading.svg');    
            background-color: #eee;        
        }
        .img-wrapper {
            overflow: hidden;
            position: relative;
            min-height: 160px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            margin-right: 6px;
        }
        h3 {
            font-size: 13px;
            margin: 8px 32px 0 0;
            line-height: 1.2;
            color: $blue;
        }
        .municipality {
            color: #999;
            font-size: 12px;
            text-transform: capitalize;
        }
        .tags {
            margin: 7px 0 0;
            position: relative;
            bottom: 0;
            .chip {
                font-size: 9px;
                line-height: 1;
                height: 18px;
                color: #777;
                padding: 0 8px;
                background: rgba(83, 151, 206, 0.1);
            }
            .chip-label {
                overflow: visible;
            }
        }        
    }
}

.page-attractions-details,
.page-accommodations-details,
.page-dining-details {
    .photos {
        .card {
            margin: 4px;
        }
        .card-content {
            padding: 4px;
        }
    }
}

#status-desc {
    position: relative;
    opacity: .9;
    top: 160px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 100%;
    h3 {
        margin: 0;
    }
}

.map-container {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#map-canvas {
    height: 100% important;
    width: 100%;
}

#has-update {
    display: none;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    p {
        color: #f7f100;
    }
    .button {
        display: inline-block;
        margin: 0 4px;
        min-width: 130px;
        &.color-yellow {
            color: #988a0e !important;
        }
        &.color-white {
            color: #fff !important;
        }
    }
}

.page-attractions-details,
.page-accommodations-details,
.page-dining-details {
    #title {
        margin-bottom: 0;
    }
    #island {
        margin-bottom: 15px;
        color: #999;
    }
    #info {
        label {
            font-weight: 700;
            margin-top: 15px;
            display: block;
        }
        p {
            margin: 0;
        }
    }
}

#loader {
    position: relative;
    top: 160px;
}

.page-about {
    .logo {
        max-width: 190px;
        margin: 0 auto;
        display: block;
    }
    .social {
        .svg-inline--fa {
            margin: 0 7px 6px 0;
            color: #2196f3;
            position: relative;
            top: 12px;
        }
        a {
            color: #212121;
            display: inline-block;
        }
    }
}

.sea-transport-form {
    .item-input-wrap {
        border-bottom: 1px solid #ccc;
    }
    ul:before,
    ul:after {
        content: none !important;
    }
}

#schedule {
    table {
        width: 100%;    
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        &:first-child {
            border-top: 1px solid #ddd;
        }
    }
    td {
        width: 50%;
        padding: 3px;
        &:first-child {
            font-weight: 700;
        }
        hr {
            border: 0;
            border-bottom: 1px solid #ddd;
            margin-left: -5px;
            margin-right: -5px;
        }
        h3 {
            margin: 0;
            color: #2196f3;
        }
    }
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}

#reset-container {
    margin: 15px 0;
}

.nearest {
    .img-wrapper {
        max-height: 150px;
        overflow: hidden;
        @media screen and (min-width: $break-medium) {
            max-height: 260px;
        }
    }
    .swiper-container {
        padding-bottom: 15px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, 
    .swiper-pagination-custom, 
    .swiper-pagination-fraction {
        bottom: -2px;
    }
    h3 {
        margin: 7px auto;
    }
    .material-icons {
        top: 7px;
        position: relative;
    }
    .no-location {
        color: #ccc;
        padding: 0 15px;
    }
    .no-image {
        height: 150px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url('../images/loading.svg');
        background-color: #eee;
    }
}

.offline {
    font-weight: bold;
    color: #d21a1a;
    text-align: center;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #ffecec;
}

.toast.toast-bottom.modal-in {
    opacity: .9;
}

.list li.accordion-item ul.bulleted {
    list-style: disc;
    padding-left: 45px;
}

.distance-meters {
    text-align: center;
    color: #999;
    font-weight: 700;
    font-size: 11px;
    .material-icons {
        font-size: 16px;
        top: 3px;
    }
}

.searchbar-result {
    ul {
        margin-left: 4px;
        margin-right: 4px;
        .tags {
            display: none;
        }
        .municipality {
            line-height: 1.2;
        }
        .item-content {
            width: 50%;
            float: left;
            margin-bottom: 3px;
        }
        .col-35,
        .col-65 {
            width: 100% !important;
        }
        .img-wrapper {
            min-height: 160px;
            margin-left: -6px;
            margin-right: -6px !important;
            margin-top: -6px;
        }
        .card {
            margin: 3px 4px;
            width: 100%;
            overflow: hidden;
            h3 {
                margin: 8px 0;
            }
            .distance-wrapper {
                font-size: 10px;
                color: #fff;
                position: absolute;
                background-color: rgba(0,0,0,0.6);
                border-radius: 4px;
                padding: 2px 5px;
                top: 3px;
                right: 3px;
                .material-icons,
                &:empty {
                    display: none;
                }
            }
        }
    }
}

.distance .material-icons {
    position: relative;
    top: 4px;
    font-size: 18px;
}

.photo-browser-container .card {
    margin: 8px 0 !important;
}

.md .timeline {
    margin: 24px 0 0;
    padding: 0 16px;
    .timeline-item-content {
        padding-bottom: 20px;
        width: 100%;
        margin: 0;
    }
}

.timeline-item-divider {
    background: #2196f3;
}

.timeline-item-date {
    font-weight: 700;
    width: 65px;
}

.md .list .item-inner:after {
    content: none;
}

.md .card-header {
    font-weight: 700;
}

.tours {
    .svg-inline--fa {
        font-size: 18px;
        color: $blue;
        margin: 0 16px 0 6px;
        width: 25px !important;
        text-align: left;
        float: left;
        top: 2px;
        position: relative;
    }   
    .operator-item {
        padding: 10px 0;
    }
    a.external {
        display: inline-block;
        padding-bottom: 4px;
    }
    span {
        display: inline-block;
    }
}

.directory-list {
    .md .card-content-padding>.list {
        margin-top: 0;
    }
    .svg-inline--fa {
        font-size: 18px;
        color: #2196f3;
        margin: 0 16px 0 6px;
        width: 25px !important;
        text-align: left;
        float: left;
        top: 2px;
        position: relative;
    }
    .directory-title {
       margin: 21px 0 7px;
        &:first-child {
            margin-top: 7px;
        }
    }
    .directory-item {
        padding: 7px 0;
    }
}

.item-content {
    transition: background 0.4s, box-shadow 0.4s;
}

@media (max-width: 500px) {
    #logo-splash {
        margin-top: 120px;
    }
}

@media (min-width: 501px) {
    .searchbar-result {
        .img-wrapper {
            min-height: 260px !important;
        }
    }
}

