@font-face {
    font-family: $heading-font;
    src: url('../fonts/hero_light-webfont.eot');
    src: url('../fonts/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hero_light-webfont.woff2') format('woff2'),
         url('../fonts/hero_light-webfont.woff') format('woff'),
         url('../fonts/hero_light-webfont.ttf') format('truetype'),
         url('../fonts/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}