$blue: #2196f3;
$blue-dark: #049ade;
$orange: #ffc20e;
$green: #a2ca28;
$pink: #ff2d55;
$purple: #a92ee1;
$cyan: #27bfbf;
$dark-gray: #212121;
$yellow: #fac10d;

$break-medium: 500px;
$spacer: 60px;

$main-font: 'latoregular';
$heading-font: 'hero_light';